[Unit]
Description=Diario Opositor Bot
After=network.target

[Service]
Type=simple
User={{bot_user}}
Group={{bot_user}}
LimitNOFILE=65536
WorkingDirectory={{project_folder}}/
ExecStart={{project_folder}}/diario_opositor_bot.py

[Install]
WantedBy=multi-user.target
